<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ADD HTML</h1>
<form th:action="@{~/mobil/save}" method="post">
    <label>Id</label><br>
    <input type="text" name="id" id="id"><br/>

    <labe>Code</labe><br>
    <input type="text" name="code" id="code"><br/>

    <label>Name</label><br>
    <input type="text" name="name" id="name"><br/>

    <label>Merk</label><br>
    <input type="text" name="merk" id="merk"><br/>

    <label>PlatNmr</label><br>
    <input type="text" name="platNmr" id="platNmr"><br/>

    <label>BahanBakar</label><br>
    <input type="text" name="bahanBakar" id="bahanBakar"><br/>

    <label>cc</label><br/>
    <input type="text" name="cc" id="cc"><br/>

    <label>warna</label><br/>
    <input type="text" name="warna" id="warna"><br/>

    <label>tipe</label><br/>
    <input type="text" name="tipe" id="tipe"><br/>

    <label>harga</label><br>
    <input type="text" name="harga" id="harga"><br/>

    <label>stock</label><br>
    <input type="text" name="stock" id="stock"><br/>

    <button type="submit">SIMPAN</button>
</form>

</body>
</html>