<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add HTML</h1>
<form th:action="@{~/muridBaru/save}" method="post">
    <label>Id</label><br>
    <input type="text" name="id" id="id"><br/>

    <label>Name</label><br>
    <input type="text" name="name" id="name"><br/>

    <label>JenisKelamin</label><br>
    <input type="text" name="jenisKelamin" id="jenisKelamin"><br/>

    <label>Alamat</label><br>
    <input type="text" name="alamat" id="alamat"><br/>

    <label>AsalSekolah</label><br>
    <input type="text" name="asalSekolah" id="asalSekolah"><br/>

    <button type="submit">simpan</button>
</form>

</body>
</html>