<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Hp</title>
</head>
<body>
<h1>Add Hp</h1>
<form th:action="@{~/hp/save}" method="post">
    <label>ID</label><br>
    <input type="text" name="id" id="id"><br/>

    <label>Kode</label><br>
    <input type="text" name="code" id="code"><br/>

    <label>Nama</label><br>
    <input type="text" name="name" id="name"><br/>

    <label>Ram</label><br>
    <input type="text" name="ram" id="ram"><br/>

    <label>Baterai</label><br>
    <input type="text" name="baterai" id="baterai"><br/>

    <labe>Storage</labe><br>
    <input type="text" name="storage" id="storage"><br/>

    <label>layar</label><br>
    <input type="text" name="layar" id="layar"><br/>

    <label>Warna</label><br>
    <input type="text" name="warna" id="warna"><br/>

    <label>Dimensi</label><br>
    <input type="text" name="dimensi" id="dimensi"><br/>

    <label>Rilis</label><br>
    <input type="text" name="rilis" id="rilis"><br/>

    <label>Harga</label><br>
    <input type="text" name="harga" id="harga"><br/>

    <label>stock</label><br>
    <input type="text" name="stock" id="stock"><br/>

    <button type="submit">Simpan</button>

</form>
</body>
</html>